{% extends 'security/auth.html.twig' %}

{% block auth_title %}Définir ton mot de pass
{% endblock %}

{% block auth_alerts %}
	{% for label, messages in app.flashes %}
		{% for message in messages %}
			<div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
				{{ message }}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}
	{% endfor %}
{% endblock %}

{% block auth_form %}
	{{ form_start(setPasswordForm) }}
	{{ form_row(setPasswordForm.plainPassword.first) }}
	{{ form_row(setPasswordForm.plainPassword.second) }}
	<button type="submit" class="btn btn-primary d-block mx-auto my-3">Activer ton compte</button>
	{{ form_end(setPasswordForm) }}
{% endblock %}
